body {
  background-color: #fff !important;
}

.topic-page .page-body {
  max-width: 1200px !important;
}

body a {
  color: #ed1b24 !important;
}

.shoot-with-air-row1 {
  display: grid;
  grid-auto-columns: repeat(2, 1fr);
  gap: 10px 5%;
  grid-auto-rows: minmax(100px, auto);
  text-align: left;
}

.shoot-with-air-row2 {
  display: grid;
  grid-auto-columns: repeat(2, 1fr);
  gap: 10px 5%;
  grid-auto-rows: minmax(100px, auto);
  text-align: left;
}

.shoot-with-air-row3 {
  display: grid;
  grid-auto-columns: repeat(2, 1fr);
  gap: 10px 5%;
  grid-auto-rows: minmax(100px, auto);
  text-align: left;
}

.shoot-with-air-row4 {
  display: grid;
  grid-auto-columns: repeat(2, 1fr);
  gap: 10px 5%;
  grid-auto-rows: minmax(100px, auto);
  text-align: left;
}

.shoot-with-air-row5 {
  display: grid;
  grid-auto-columns: repeat(2, 1fr);
  gap: 10px 5%;
  grid-auto-rows: minmax(100px, auto);
  text-align: left;
}

.shoot-with-air-row1-text {
  grid-column: 1;
  grid-row: 1;
  max-width: 85%;
  text-align: left;
}

.shoot-with-air-row1-text h1 {
  color: #ed1b24;
  font-size: 1.9em;
  text-align: left;
}

.shoot-with-air-row1-text h4 {
  font-size: 1.4em;
  color: black;
  max-width: 100%;
}

.shoot-with-air-link {
  color: #ed1b24;
  font-weight: bold;
}

.shoot-with-air-white-button {
  color: #ed1b24;
  background-color: white;
  border-color: #ed1b24;
  font-weight: bold;
  padding: 10px 24px;
  margin-left: 3%;
  margin-bottom: 5%;
  transition: all .6s ease-in-out;
}

.shoot-with-air-white-button:hover {
  transform: scale(1.2);
}

.shoot-with-air-red-button {
  color: white;
  background-color: #ed1b24;
  padding: 10px 24px;
  font-weight: bold;
  font-size: 1.3em;
  margin-right: 3%;
  margin-bottom: 5%;
  border-color: #ed1b24;
  transition: all .6s ease-in-out;
}

.shoot-with-air-red-button:hover {
  transform: scale(1.2);
}

.btn-left {
  float: left;
  margin-bottom: -8%;
}

.btn-right {
  float: right;
}

.shoot-with-air-shootTargets {
  grid-column: 2;
  grid-row: 1;
  margin-top: 10%;
}

.shoot-with-air-header {
  max-width: 100%;
  height: auto;
  margin-bottom: 3%;
}

.shoot-with-air-banner1 {
  height: auto;
  max-width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.shoot-with-air-banner2 {
  height: auto;
  max-width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.shoot-with-air-banner3 {
  height: auto;
  max-width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.shoot-with-air-banner4 {
  height: auto;
  max-width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.shoot-with-air-row2-text1 {
  grid-column: 2;
  grid-row: 1;
  margin-top: -5%;
  text-align: left;
}

.shoot-with-air-row2-text1 h1 {
  text-align: left;
  font-size: 1.4em;
  color: black;
  margin-bottom: 5%;

}

.shoot-with-air-row2-text1 p {
  margin-bottom: 3%;
}

.shoot-with-air-legends {
  margin-right: 5%;
  margin-top: 3%;
  float: left;
  height: auto;
}

.shoot-with-air-mp40 {
  /*needs to have a slide in animation*/
  grid-column: 1;
  grid-row: 1;
  margin-left: 10%;
  margin-top: 7%;
  margin-bottom: 10%;
}

.shoot-with-air-red-background {
  grid-column: 1;
  grid-row: 1;
}

.shoot-with-air-guyWithMp40 {
  margin-left: 5%;
}

.shoot-with-air-SandW {
  float: left;
  margin-right: 5%;
  margin-top: 8%;
}

.shoot-with-air-row2-text2 h1 {
  margin-top: 10%;
  margin-bottom: 5%;
  color: black;
  text-align: left;
}

.shoot-with-air-row2-text2 p {
  max-width: 100%;
  color: black;
  padding-bottom: 5%;
  text-align: left;
}

.shoot-with-air-red-background2 {
  grid-column: 2;
  grid-row: 3;
  transform: scaleX(-1);
  z-index: -1;
  margin-top: 20%;
  margin-left: 15%;
}

.shoot-with-air-revolver {
  grid-column: 2;
  grid-row: 3;
  margin-top: 28%;
  margin-left: 5%;
}

.shoot-with-air-red-background3 {
  grid-row: 1;
  grid-column: 1/2;
}

.shoot-with-air-co2-cartridge {
  grid-row: 1;
  grid-column: 1/2;
  margin-top: 3%;
  margin-left: 17%;
}

.shoot-with-air-umarex {
  float: left;
  margin-right: 5%;
}

.shoot-with-air-row3-text1 {
  grid-row: 1;
  grid-column: 2/2;
}

.shoot-with-air-red-background4 {
  grid-row: 2;
  grid-column: 1;
}

.shoot-with-air-guyWithPistol {
  grid-column: 2;
  grid-row: 2;
  margin-top: 5%;
  margin-left: 3%;
}

.shoot-with-air-row3-text1 h1 {
  color: black;
  margin-bottom: 5%;
  max-width: 90%;
  text-align: left;
}

.shoot-with-air-shot-co2 {
  margin-left: -45%;
}

.shoot-with-air-row3-text1 p {
  padding-bottom: 2%;
  color: black;
  text-align: left;
}

.shoot-with-air-row3 h2 {
  grid-row: 2;
  grid-column: 1;
  z-index: 1;
  color: white;
  max-width: 80%;
  font-size: 1.5em;
  margin-top: 5%;
  margin-left: 5%;
  text-align: left;
}

.shoot-with-air-co2Saver {
  grid-row: 2;
  grid-column: 1;
  margin-top: 25%;
  margin-left: 10%;
}

.shoot-with-air-co2Saver-buttons {
  grid-row: 3;
  grid-column: 1;
}

.shoot-with-air-row3-text2 {
  grid-column: 1/1;
  grid-row: 3;
  margin-top: 25%;
  margin-bottom: 10%;
}

.shoot-with-air-umarex2 {
  float: left;
  margin-right: 3%;
}

.shoot-with-air-row3-text2 h1 {
  color: black;
  width: 60%;
  margin-bottom: 5%;
  text-align: left;
}

.shoot-with-air-row3-text2 p {
  padding-bottom: 3%;
  color: black;
  text-align: left;
}

.shoot-with-air-guyWithPistol {
  margin-top: 15%;
}

.shoot-with-air-red-background5 {
  grid-row: 3;
  grid-column: 2/2;
  transform: scaleX(-1);
  z-index: -1;
  margin-top: 30%;
  margin-left: 22%;
}

.shoot-with-air-airgunCompressor {
  grid-row: 3;
  grid-column: 2/2;
  margin-top: 31%;
  margin-left: 12%;
}

.shoot-with-air-refill2 {
  grid-column: 2/2;
}

.shoot-with-air-airJavelin {
  grid-row: 1;
  grid-column: 1;
  margin-top: 10%;
  margin-left: 10%;
}

.shoot-with-air-red-background6 {
  grid-row: 1;
  grid-column: 1;
  margin-bottom: 10%;
}

.shoot-with-air-umarex3 {
  float: left;
  margin-right: 5%;
}

.shoot-with-air-row4-text1 {
  grid-column: 2;
  grid-row: 1;
  text-align: left;
}

.shoot-with-air-row4-text1 h1 {
  margin-bottom: 5%;
  color: black;
  max-width: 70%;
}

.shoot-with-air-deerTarget {
  margin-bottom: 10%;
  grid-column: 1;
  grid-row: 2;
}

.shoot-with-air-guyWithAirJavelin {
  grid-column: 2;
  grid-row: 2;
}

.shoot-with-air-umarex4 {
  float: left;
  margin-right: 5%;
}

.shoot-with-air-row4-text2 {
  grid-column: 1;
  grid-row: 3;
  text-align: left;
}

.shoot-with-air-row4-text2 h1 {
  margin-bottom: 5%;
  color: black;
  max-width: 85%;
}

.shoot-with-air-row4-text2 p {
  max-width: 90%;
}

.shoot-with-air-background1 {
  grid-column: 2;
  grid-row: 3;
  margin-left: 20%;
  margin-top: 15%;
}

.shoot-with-air-airSaber {
  grid-column: 2;
  grid-row: 3;
  margin-top: 40%;
}

.shoot-with-air-background2 {
  grid-column: 1;
  grid-row: 1;
  transform: scaleX(-1);
  z-index: -1;
}

.shoot-with-air-umarexHammer {
  grid-column: 1;
  grid-row: 1;
  margin-top: 30%;
  margin-left: 5%;
}

.shoot-with-air-row5-text1 {
  grid-column: 2;
  grid-row: 1;
  text-align: left;
}

.shoot-with-air-umarex5 {
  float: left;
  margin-right: 5%;
}

.shoot-with-air-row5-text1 h1 {
  color: black;
  margin-bottom: 5%;
}

.shoot-with-air-row5 p {
  color: black;
}

.shoot-with-air-hammer1 {
  grid-column: 1;
  grid-row: 2;
}

.shoot-with-air-hammer2 {
  grid-column: 2;
  grid-row: 2;
}

.shoot-with-air-umarex6 {
  float: left;
  margin-right: 5%;
  margin-top: 1%;
}

.shoot-with-air-row5-text2 {
  grid-column: 1;
  grid-row: 3;
  margin-top: 5%;
}

.shoot-with-air-guantlet2-buttonGroup {
  width: 110%;
  margin-top: 5%;
}

.shoot-with-air-umarexGuantlet2 {
  grid-column: 2;
  grid-row: 3;
  margin-top: 25%;
  margin-left: 5%;
}

.shoot-with-air-background3 {
  grid-column: 2;
  grid-row: 3;
  margin-left: 25%;
}

.shoot-with-air-background4 {
  grid-column: 1;
  grid-row: 5;
  transform: scaleX(-1);
  z-index: -1;
}

.shoot-with-air-surgeMaxElite {
  grid-column: 1;
  grid-row: 5;
  margin-top: 30%;
}